/* variables */
.SUIDeskNavbar {
  --navbarWidth: 95%;
  --navbarHeight: 100px;
  --navbarBgColor: var(--sui-color-black);

  --logoWidth: 100px;
  --logoFontSize: 32px;
  --logoFontWeight: 300;
  --logoColor: #397fe0;

  --menuItemFontSize: 16px;
  --menuItemFontFamily: var(--sui-font-family-c700);
  --menuItemFontWeight: 100;
  --menuItemColor: var(--sui-color-white-200);
  --menuItemHoverColor: var(--sui-color-blue-300);

  --menuItemBorderColor: transparent;
  --menuItemBorder-width: 2px;
}

.SUIDeskNavbarSubMenuLink {
  --subMenuItemFontSize: 14.5px;
  --subMenuFontFamily: var(--sui-font-family-c700);
  --subMenuItemFontWeight: 300;
  --subMenuItemColor: var(--sui-color-white-300);
  --subMenuItemHoverColor: var(--sui-color-blue-300);

  --subMenuDropdownBgColor: var(--sui-color-black-200);
  --SubMenuDropdownItemActiveBgColor: var(--sui-color-black-200);
}

.SUIDeskNavbarLastMenuItem {
  --lastMenuItemBgColor: transparent;
  --lastMenuItemColor: var(--sui-color-white-200);
  --lastMenuItemHoverColor: transparent;
  --lastMenuItemBorderColor: var(--sui-color-blue-300);
}

/* styles */
/* Entire container */
.SUIDeskNavbarContainer {
  width: var(--navbarWidth);
  height: var(--navbarHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.SUIDeskNavbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbarBgColor);
  /* box-shadow: 0px 6px 15px -6px #dbdbdb; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 150;
}

.SUIDeskNavbarContainerBox.ant-menu-horizontal {
  line-height: 0px !important;
  /* height: 36px;
  margin-top: 32px !important; */
}

/* logo */
.SUIDeskNavbar .SUIDeskLogo img {
  width: var(--logoWidth);
  aspect-ratio: 3/4;
  cursor: pointer;
  position: relative;
  top: -12px;
}

.SUIDeskNavbar .SUIDeskLogo {
  display: flex;
  align-items: center;
}

.SUIDeskNavbar .SUIDeskLogo p {
  font-size: var(--logoFontSize);
  font-weight: var(--logoFontWeight);
  margin: 0;
  padding: 0 !important;
  margin-top: -8px;
}

.SUIDeskNavbar .SUIDeskLogo {
  display: flex;
  align-items: center;
}

/* menu link */
.SUIDeskNavbarContainerBox {
  width: 100%;
  color: var(--menuItemColor) !important;
}

.SUIDeskNavbar .ant-menu-light > .ant-menu {
  color: var(--menuItemColor) !important;
}

.SUIDeskNavbar .ant-menu-horizontal {
  border: none;
}

.SUIDeskNavbar .ant-menu-overflow {
  justify-content: flex-end;
  background-color: transparent;
}

.SUIDeskNavbar span.ant-menu-title-content {
  font-size: var(--menuItemFontSize);
  font-weight: var(--menuItemFontWeight);
  font-family: var(--menuItemFontFamily);
  letter-spacing: 1.5px;
  /* position: relative; */
}

.SUIDeskNavbar .ant-menu-item-selected::after {
  border-bottom: var(--menuItemBorder-width) solid var(--menuItemBorderColor) !important;
  border-radius: 25px;
}

.SUIDeskNavbar .ant-menu-item:hover::after {
  border-bottom: var(--menuItemBorder-width) solid var(--menuItemBorderColor) !important;
  border-radius: 25px;
}

.SUIDeskNavbar .ant-menu-item {
  scale: 1;
  transition: scale 0.5s;
}

.SUIDeskNavbar .ant-menu-item-selected,
.SUIDeskNavbar .ant-menu-item:hover {
  color: var(--menuItemHoverColor) !important;
  scale: 1.1;
}

/* sub-menu links */
.icon {
  font-size: 19px !important;
  margin-left: 2px;
}

.advantage-menu-hovered .icon {
  transition: transform 12s ease-in-out;
}

.SUIDeskNavbar .ant-menu-submenu-title:hover {
  color: var(--menuItemHoverColor) !important;
}
.SUIDeskNavbar .ant-menu-submenu-title svg {
  display: none;
}
.SUIDeskNavbar .ant-menu-submenu:hover::after {
  border-bottom: var(--menuItemBorder-width) solid var(--menuItemBorderColor) !important;
  border-radius: 25px;
}

.SUIDeskNavbar .ant-menu-submenu-open::after {
  border-bottom: var(--menuItemBorder-width) solid var(--menuItemBorderColor) !important;
  border-radius: 25px;
}

.SUIDeskNavbar .ant-menu-submenu-selected::after {
  border-bottom: var(--menuItemBorder-width) solid var(--menuItemBorderColor) !important;
  border-radius: 25px;
}

.SUIDeskNavbar .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--menuItemHoverColor) !important;
}

.SUIDeskNavbar .ant-menu-light > .ant-menu {
  color: var(--menuItemColor);
}

.SUIDeskNavbarSubMenuLink {
  color: var(--subMenuItemColor) !important;
  font-weight: var(--subMenuItemFontWeight) !important;
  font-size: var(--subMenuItemFontSize) !important;
  position: absolute;
  top: 30px;
  border-top: 2px solid var(--sui-color-blue-300);
  background-color: var(--subMenuDropdownBgColor);
  border-radius: 0px;
  padding: 0px;
}
.SUIDeskNavbarSubMenuLink .ant-menu-item-only-child {
  border-bottom: 1px solid #2f2f2f;
  width: 100% !important;
  border-radius: 0 !important;
  padding-top: 8px !important ;
  padding-bottom: 50px !important ;
  margin: 0 !important;
}
.SUIDeskNavbarSubMenuLink .ant-menu-item-only-child:last-child {
  border: none !important;
}

.SUIDeskNavbarSubMenuLink .ant-menu-item-only-child a {
  transition: color 0.1s;
  font-family: var(--subMenuFontFamily);
  letter-spacing: 1px;
  word-spacing: 1px;
}

.SUIDeskNavbarSubMenuContainer {
  margin-top: -1px !important;
}

.SUIDeskNavbarSubMenuLink .ant-menu-item {
  margin-right: 15px !important;
}

.SUIDeskNavbarSubMenuLink .ant-menu-item:hover {
  color: var(--subMenuItemHoverColor) !important;
  background-color: var(--SubMenuDropdownItemActiveBgColor) !important;
}

.SUIDeskNavbarSubMenuLink .ant-menu-item-group-title {
  padding: 0;
}

.SUIDeskNavbarSubMenuLink .ant-menu-item-selected {
  background-color: var(--SubMenuDropdownItemActiveBgColor) !important;
  color: var(--subMenuItemHoverColor) !important;
}

.SUIDeskNavbarDownArrowIcon {
  font-size: 19px !important;
  position: relative;
  top: 3.5px;
  scale: 1.1;
}

/* last menu item border design */
.SUIDeskNavbarLastMenuItem span {
  background-color: var(--lastMenuItemBgColor) !important;
  border-radius: 25px !important;
  color: var(--lastMenuItemColor);
  padding: 10px 17px !important;
  border: 2px solid var(--lastMenuItemBorderColor);
}

.SUIDeskNavbarLastMenuItem span:hover {
  background-color: var(--lastMenuItemBgColor) !important;
  opacity: 0.94 !important;
}

.SUIDeskNavbarLastMenuItem.ant-menu-item:hover {
  color: var(--lastMenuItemHoverColor) !important;
  scale: 1;
}

.SUIDeskNavbarLastMenuItem.ant-menu-item-selected {
  color: var(--lastMenuItemHoverColor) !important;
}
.SUIDeskNavbarLastMenuItem.ant-menu-item::after {
  border-bottom: none !important;
}
.SUIDeskNavbarLastMenuItem.ant-menu-item:hover::after {
  border-bottom: none !important;
}

.SUIDeskNavbarLastMenuItem.ant-menu-item-selected:after {
  border-bottom: none !important;
}

/* media quries */

@media (max-width: 1023.5px) {
  .SUIDeskNavbar {
    display: none;
  }
}
