.imageContainer {
  position: relative;
  top: 5px;
}

.rocketWrapper {
  background-color: #595959bd;
  display: flex;
  justify-content: center;
  position: relative;
}

.seperatedRocket {
  /* height: 700px; */
  height: 80vh;
}

.rightFin {
  height: 241.5px;
  position: relative;
  left: -3px;
  transition: all 2s;
  rotate: 0.5deg;
}

.leftFin {
  height: 242.5px;
  position: relative;
  right: -8px;
  transition: all 2s;
}

.leftFinScale {
  filter: drop-shadow(-2.5px 0px 0px var(--sui-color-blue-300));
  position: relative;
  right: -6px;
  /* top: -24px; */
  rotate: 0.7deg;
  height: 288.5px;
}

.rightFinScale {
  height: 288.5px;
  filter: drop-shadow(3.5px 0px 0px var(--sui-color-blue-300));
  position: relative;
  left: -2px;
  /* top: -24px; */
  rotate: 0.5deg;
}

.finImgContainer {
  position: relative;
}

.partMentionContainer {
  position: relative;
  top: -217px;
  right: 7px;
}

.arrow_container {
  position: absolute;
  height: 86px;
  width: 80px;
  top: 1px;
  transform: skew(317deg);
  transition: 0.1ms;
}
.inner_arrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  border-color: var(--sui-color-blue-300);
  animation: arrow_flow 3s linear;
  animation-fill-mode: forwards;
}

@keyframes arrow_flow {
  0% {
    height: 0%;
    width: 0%;
  }
  25% {
    height: 100%;
    width: 100%;
  }
  60% {
    border-left: 2px dashed var(--sui-color-blue-300);
  }

  100% {
    height: 100%;
    width: 100%;
    border-left: 2px dashed var(--sui-color-blue-300);
    border-top: 1.6px dashed var(--sui-color-blue-300);
  }
}

.highlightedPartName {
  position: absolute;
  top: -9px;
  left: 127px;
  color: var(--sui-color-blue-300);
  font-family: var(--sui-font-family-s600);
}

.circleContainer {
  position: absolute;
  bottom: -79px;
  right: 27px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 1000;
  display: block;
}
.cricle {
  animation: growAndFade 3s infinite ease-out;
  background-color: var(--sui-color-blue-300);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.circle1 {
  animation-delay: 1s;
  opacity: 1;
}
.circle2 {
  animation-delay: 2s;
}
.circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

.textImgWrapper {
  overflow: hidden;
  position: absolute;
  top: 1px;
  height: 100%;
  width: 100%;
}

.textImgWrapperScale img {
  padding-top: 50px;
  scale: 0.9 !important;
}

.textImgWrapper img {
  width: 100%;
  scale: 2;
  transition: all 2s;
}

.emptyText {
  position: absolute;
  top: 36%;
  /* right: 91px; */
  width: 5px;
  height: 5px;
  /* background-color: red; */
}

@media (max-width: 768px) {
  .arrow {
    top: 1px;
    height: 86px;
    width: 35px;
    transform: skew(336deg);
  }

  .highlightedPartName {
    left: 59px;
    top: -8px;
    font-size: 14px;
  }
  .circleContainer {
    right: 6px;
  }
  .partMentionContainer {
    position: relative;
    top: -217px;
    right: 27px;
  }
}

@media (max-width: 396px) {
  .partMentionContainer {
    position: relative;
    top: -217px;
    right: 27px;
  }
  .highlightedPartName {
    left: 33px;
    top: 3px;
    font-size: 14px;
  }
}
