.imageContainer {
  position: relative;
  top: 5px;
}

.rocketWrapper {
  background-color: #595959bd;
  display: flex;
  justify-content: center;
  position: relative;
}

.seperatedRocket {
  /* height: 700px; */
  height: 80vh;
}

.textImgWrapper {
  overflow: hidden;
  position: absolute;
  top: 1px;
  height: 100%;
  width: 100%;
}

.textImgWrapperScale img {
  padding-top: 50px;
  scale: 0.9 !important;
}

.textImgWrapper img {
  width: 100%;
  scale: 2;
  transition: all 2s;
}

.emptyText {
  position: absolute;
  top: 36%;
  /* right: 91px; */
  width: 5px;
  height: 5px;
  /* background-color: red; */
}

/*===============rocket right part ==============
=================================================*/

.rightFinImage {
  height: 241.5px;
  position: relative;
  left: -3px;
  transition: all 2s;
  rotate: 0.5deg;
}

.leftFin {
  height: 242.5px;
  position: relative;
  right: -8px;
  transition: all 2s;
}

.rightFinScale {
  height: 288.5px;
  filter: drop-shadow(3.5px 0px 0px var(--sui-color-blue-300));
  position: relative;
  left: -2px;
  /* top: -24px; */
  rotate: 0.5deg;
}

.rightPartContainer {
  position: relative;
}

.rightPartContainer .partMentionContainer {
  position: relative;
  top: -164px;
  right: 7px;
}

.rightPartContainer .leftArrowContainer {
  position: absolute;
  height: 86px;
  width: 80px;
  top: 1px;
  transform: skew(317deg);
  transition: 0.1ms;
}
.rightPartContainer .leftArrowContainer .innerArrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  border-color: var(--sui-color-blue-300);
  border-left: 2px dashed var(--sui-color-blue-300);
  border-top: 1.6px dashed var(--sui-color-blue-300);
  animation: leftArrowFlow 1s;
  animation-fill-mode: forwards;
}

.rightPartContainer .topArrowContainer {
  position: absolute;
  height: 86px;
  width: 80px;
  top: -1px;
  left: 2.03px;
  transform: skew(317deg);
  transition: 0.1ms;
}
.rightPartContainer .topArrowContainer .innerArrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-color: var(--sui-color-blue-300);
  border-top: 2px dashed var(--sui-color-blue-300);
  animation: topArrowFlow 1s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.rightPartContainer .highlightedPartName {
  position: absolute;
  top: -17px;
  left: 130px;
  font-size: 24px;
  color: var(--sui-color-blue-300);
  font-family: var(--sui-font-family-s600);
  animation: partName 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.rightPartContainer .circleContainer {
  position: absolute;
  bottom: -79px;
  right: 27px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  /* z-index: 1000; */
  display: block;
}
.rightPartContainer .cricle {
  animation: growAndFade 3s infinite ease-out;
  background-color: var(--sui-color-blue-300);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.rightPartContainer .circle1 {
  animation-delay: 1s;
  opacity: 1;
}
.rightPartContainer .circle2 {
  animation-delay: 2s;
}
.rightPartContainer .circle3 {
  animation-delay: 3s;
}

@keyframes topArrowFlow {
  0% {
    height: 0%;
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes leftArrowFlow {
  0% {
    height: 0%;
    width: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes partName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

/*===============rocket left part ==============
=================================================*/

.leftFinImage {
  height: 241.5px;
  position: relative;
  left: 6px;
  transition: all 2s;
  rotate: 0.5deg;
}

.leftFinScale {
  filter: drop-shadow(-2.5px 0px 0px var(--sui-color-blue-300));
  position: relative;
  right: -6px;
  /* top: -24px; */
  rotate: 0.7deg;
  height: 288.5px;
}

.leftPartContainer {
  position: relative;
}

.leftPartContainer .partMentionContainer {
  position: relative;
  top: -270px;
  right: -22px;
}

.leftPartContainer .leftArrowContainer {
  position: absolute;
  height: 86px;
  width: 80px;
  top: 1px;
  right: -9px;
  transform: skew(39deg);
  transition: 0.1ms;
}
.leftPartContainer .leftArrowContainer .innerArrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  border-color: var(--sui-color-blue-300);
  border-left: 2px dashed var(--sui-color-blue-300);
  border-top: 1.6px dashed var(--sui-color-blue-300);
  animation: leftArrowFlow 1s;
  animation-fill-mode: forwards;
}

.leftPartContainer .topArrowContainer {
  position: absolute;
  height: 86px;
  width: 80px;
  top: -1px;
  left: -225px;
  transform: skew(317deg);
  transition: 0.1ms;
}
.leftPartContainer .topArrowContainer .innerArrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-color: var(--sui-color-blue-300);
  border-top: 2px dashed var(--sui-color-blue-300);
  animation: topArrowFlow 1s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.leftPartContainer .highlightedPartName {
  position: absolute;
  top: -20px;
  left: -361px;
  font-size: 24px;
  color: var(--sui-color-blue-300);
  font-family: var(--sui-font-family-s600);
  animation: partName 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.leftPartContainer .circleContainer {
  position: absolute;
  bottom: -79px;
  right: 27px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  /* z-index: 1000; */
  display: block;
}
.leftPartContainer .cricle {
  animation: growAndFade 3s infinite ease-out;
  background-color: var(--sui-color-blue-300);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.leftPartContainer .circle1 {
  animation-delay: 1s;
  opacity: 1;
}
.leftPartContainer .circle2 {
  animation-delay: 2s;
}
.leftPartContainer .circle3 {
  animation-delay: 3s;
}

/*=============== Media queries for responsive  design  ==============
======================================================================*/

@media (max-width: 768px) {
  .rightPartContainer .topArrowContainer {
    top: 0px;
    height: 86px;
    width: 35px;
    transform: skew(336deg);
  }
  .rightPartContainer .leftArrowContainer {
    top: 1px;
    height: 86px;
    width: 35px;
    transform: skew(336deg);
  }

  .rightPartContainer .highlightedPartName {
    left: 63px;
    top: -13px;
    font-size: 20px;
  }
  .rightPartContainer .circleContainer {
    right: 6px;
  }
  .rightPartContainer .partMentionContainer {
    position: relative;
    top: -168px;
    right: 26px;
  }
  .leftPartContainer .leftArrowContainer {
    transform: skew(26deg);
    right: -19px;
  }
  .leftPartContainer .topArrowContainer {
    width: 37px;
    left: -159px;
  }
  .leftPartContainer .highlightedPartName {
    top: -19px;
    left: -189px;
    width: 100px;
    font-size: 20px;
  }
}

@media (max-width: 396px) {
  .rightPartContainer .partMentionContainer {
    position: relative;
    top: -217px;
    right: 27px;
  }
  .rightPartContainer .highlightedPartName {
    left: 33px;
    top: 3px;
    font-size: 14px;
  }
  .leftPartContainer .highlightedPartName {
    top: 10px;
    left: -147px;
    width: 100px;
    font-size: 20px;
    line-height: 23px;
  }
}
