.appointmentWrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 150px;
  background-image: url(http://localhost:3000/static/media/backgroundImage1.f973a856fa736218c59b.jpeg);
  background-size: cover;
  background-position: center;
}
.titleWrapper {
}
.title {
  color: var(--sui-color-white);
  font-size: 40px;
}
.description {
  color: var(--sui-color-white-100);
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 60px;
}
.FormWrapper {
  background-color: var(--sui-color-black-200);
  width: 100%;
  padding: 50px 150px;

}
