/* ------home-banner----- */

.homeEarthVideoPortrait {
  display: none;
}

.homeBannerContainer {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.homeBannerContainer video {
  object-fit: cover;
  filter: brightness(0.7);
}
.HomebannerTitleContainer {
  position: absolute;
  top: calc(42% - 60px);
  transform: translateY(calc(-42% + 60px));
  text-align: center;
  width: 100%;
  scale: 1 !important;
  display: grid;
  justify-items: center;
  flex-direction: column;
}
.HomebannerTitleContainer .title1 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--sui-font-family-c300);
  color: var(--sui-color-white-200);
  line-height: 70px;
  letter-spacing: 2px;
  word-spacing: 10px;
  width: 80%;
  text-align: center;
}
.HomebannerTitleContainer .title2 {
  margin-top: 45px;

  font-size: 25px;
  color: var(--sui-color-white-300);
  font-weight: 800;
  font-family: var(--sui-font-family-c300);
}

/* ------who-we-are------ */
.whoWeAreContainer {
  display: flex;
  justify-content: center;
  background-color: var(--sui-color-black);
  padding-bottom: 50px;
}
.whoWeAreSubContainer {
  width: 80%;
  display: grid;
  gap: 35px;
  padding-top: 50px;
}
.title {
  width: max-content;
  display: flex;
  justify-content: flex-end;
  color: var(--sui-color-white-100);
  font-size: 45px;
  font-family: var(--sui-font-family-c300);
  font-weight: 600;
  letter-spacing: 2px;
}
.whoWeAreSubContainer .contentContainer {
  font-size: 18px;
  font-family: var(--sui-font-family-s600);
  font-weight: 300;
  line-height: var(--sui-line-height);
  letter-spacing: var(--sui-letter-spacing);
  color: var(--sui-color-white-300);
}
.whoWeAreSubContainer .content1 {
  border-bottom: 1px solid var(--sui-color-black-300);
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.whoWeAreSubContainer .content2 {
  border-bottom: 1px solid var(--sui-color-black-300);
  padding-bottom: 20px;
}

/* ------our journey------ */
.ourJourneyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../../common/backgroundImage1.jpeg);
  background-size: cover;
  background-position: center;
  padding-bottom: 90px;
}

.ourJourneySubContainer {
  width: 80%;
  margin-top: 111px;
  display: grid;
  /* grid-template-columns: max-content auto; */
  gap: 80px;
}

.tableWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ourJourneySubContainer table {
  border-collapse: collapse;
  width: 75%;
}
.ourJourneySubContainer table tr td {
  padding-bottom: 50px;
  line-height: var(--sui-line-height);
  letter-spacing: 1.5px;
}
.ourJourneySubContainer table tr td:nth-child(1) {
  border-right: 1px solid var(--sui-color-white-200);
  position: relative;
  min-width: 100px;
  color: var(--sui-color-white-300);
  font-family: var(--sui-font-family-n100);
  line-height: var(--sui-line-height);
  font-size: 19px;
  letter-spacing: var(--sui-letter-spacing);
  font-weight: 200;
}
.ourJourneySubContainer table tr td:nth-child(1)::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--sui-color-white-300);
  position: absolute;
  top: 0px;
  right: -18px;
  display: block;
}
.ourJourneySubContainer table tr td:nth-child(1) .yearText {
  position: absolute;
  top: 0px;
}
.ourJourneySubContainer table tr td:nth-child(2) {
  display: grid;
  padding-left: 60px;
  color: var(--sui-color-white-300);
  font-family: var(--sui-font-family-s600);
  font-weight: 300;
  line-height: var(--sui-line-height);
  font-size: 18px;
  letter-spacing: var(--sui-letter-spacing);
}
.ourJourneySubContainer table tr td:nth-child(2) img {
  border-radius: 10px;
  width: 350px;
  margin-top: 20px;
}
.ourJourneySubContainer table tr:last-child td:nth-child(2) {
  padding-bottom: 0;
}

/* ------our vision------ */
.ourVisionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
  border-top: 1.5px solid var(--sui-color-blue-200);
  border-bottom: 1.5px solid var(--sui-color-blue-200);
  background-color: var(--sui-color-black);
}
.ourVisionSubContainer {
  width: 80%;
  display: grid;
}
.ourVisionSubContainer .title {
  margin-bottom: 40px;
}

.ourVisionContainer .content1 {
  font-size: 18px;
  font-family: var(--sui-font-family-s600);
  font-weight: 300;
  line-height: var(--sui-line-height);
  letter-spacing: var(--sui-letter-spacing);
  color: var(--sui-color-white-300);
}
.doubleQuotesIcon {
  width: 17px;
  position: relative;
  top: -5px;
  right: 5px;
}

/* ------core values------ */
.coreValuesWrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: black url(../../common/backgroundImage4.jpeg) no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid var(--sui-color-blue-200);
}

.coreValuesSubWrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.coreValuesContainer {
  grid-gap: 15px;
  display: grid;
  gap: 15px;
  /* padding-left: 10%; */
  width: 100%;
  justify-content: center;
}
.titleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.coreValuesSubWrapper .title {
  margin-bottom: 70px;
}
.coreValuesContainer .dataInfo {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 1fr);
  align-items: center;
  gap: 40px;
}
.coreValuesContainer .dataInfo img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.circleContainer {
  width: 120px;
  height: 120px;
  position: relative;
}
.coreValuesContainer .dataInfo .circle1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1.5px solid;
  border-color: var(--sui-color-gray-300);
  animation: circle 5s infinite linear;
  display: grid;
  place-items: center;
  background-color: var(--sui-color-blue-400);
}
.coreValuesContainer .dataInfo .circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1.5px solid;
  border-color: transparent;
  border-left-color: var(--sui-color-gray-300);
  border-right-color: var(--sui-color-gray-300);
  animation: cicle 5s infinite linear;
}
@keyframes cicle {
  to {
    transform: rotate(1turn);
  }
}
.coreValuesContainer .dataInfo .infoContent {
  height: 80px;
  background-color: var(--sui-color-black-600);
  color: var(--sui-color-white-300);
  display: grid;
  place-items: center;
  transform: skew(-20deg);
  /* border-radius: 5px; */
  border: 1px solid var(--sui-color-gray-300);
  padding: 0 100px;
}

.coreValuesContainer .dataInfo .infoContent .content {
  transform: skew(20deg) !important;
  font-size: 18px;
  font-family: var(--sui-font-family-s500);
  font-weight: 300;
  letter-spacing: var(--sui-letter-spacing);
}

/* ------clients------ */
.clientsWrapper {
  display: flex;
  place-items: center;
  padding-bottom: 150px;
  padding-top: 70px;
  background-color: var(--sui-color-black);
  flex-direction: column;
}

.clientsWrapper .title {
  margin-bottom: 80px;
}

.galleryContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset,
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset;
}

.galleryContainer img {
  width: 100%;
  filter: brightness(0.5);
  box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset,
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset;
}

/* ----------------media quries----------------
  --------------------------------------------- */

@media (max-width: 1024px) {
  .coreValuesSubWrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .HomebannerTitleContainer .title1 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .homeEarthVideoWide {
    display: none;
  }
  .homeEarthVideoPortrait {
    display: block;
  }

  .doubleQuotesIcon {
    top: -1px;
  }
  .ourVisionContainer .content1 {
    font-size: 16px;
    line-height: 30px;
  }
  .ourJourneySubContainer table tr td:nth-child(1) .yearText {
    top: -6px;
  }
  .ourJourneySubContainer table tr td:nth-child(1)::before {
    width: 20px;
    height: 20px;
    right: -10px;
  }
  .whoWeAreContainer {
    padding-bottom: 40px;
  }
  .whoWeAreSubContainer .contentContainer {
    font-size: 14px;
    line-height: 26px;
  }
  .title {
    font-size: 35px;
  }
  .HomebannerTitleContainer {
    padding: 0 10px;
    /* margin: 0 20px; */
  }
  .HomebannerTitleContainer .title1 {
    font-size: 30px;
  }
  .HomebannerTitleContainer .title2 {
    font-size: 21px;
  }
  .ourJourneySubContainer {
    width: 90%;
    margin-top: 60px;
    padding-bottom: 0px;
    gap: 50px;
  }
  .ourJourneySubContainer table {
    width: 95%;
  }
  .ourJourneySubContainer table tr td:nth-child(1) {
    min-width: 70px;
    font-size: 14px;
  }
  .ourJourneySubContainer table tr td:nth-child(2) {
    padding-left: 35px;
    font-size: 14px;
    line-height: 25px;
  }
  .ourJourneySubContainer table tr td:nth-child(2) img {
    width: 70%;
  }
  .coreValuesWrapper {
    padding: 50px 0;
  }
  .coreValuesSubWrapper .title {
    margin-bottom: 40px;
  }
  .ourJourneySubContainer table tr td:nth-child(2) img {
    width: 90%;
  }
  .circleContainer {
    width: 90px;
    height: 90px;
  }
  .coreValuesContainer .dataInfo {
    gap: 20px;
    grid-template-columns: max-content 1fr;
  }
  .coreValuesContainer .dataInfo img {
    width: 35px;
    height: 35px;
  }
  .coreValuesContainer .dataInfo .circle1 {
    width: 90px;
    height: 90px;
    border-width: 1.5px;
  }
  .coreValuesContainer .dataInfo .circle2 {
    width: 75px;
    height: 75px;
    border-width: 1.5px;
  }

  .coreValuesContainer .dataInfo .infoContent .content {
    margin: 0 15px;
    font-size: 15px;
    text-align: center;
  }
  .coreValuesContainer .dataInfo .infoContent {
    height: auto;
    padding: 15px 0;
  }
  .coreValuesSubWrapper {
    width: 90%;
    padding-right: 3%;
  }
}

@media (max-width: 500px) {
  .HomebannerTitleContainer .title2 {
    margin-top: 25px;
    line-height: 30px;
  }
  .HomebannerTitleContainer .title1 {
    font-size: 31px;
    line-height: 50px;
    width: 90%;
  }
  .clientsWrapper {
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .ourVisionSubContainer {
    width: 90%;
  }
  .title {
    font-size: 30px;
  }
  .whoWeAreSubContainer {
    width: 90%;
  }
  .coreValuesWrapper {
    padding: 50px 0;
  }
  .coreValuesSubWrapper .title {
    margin-bottom: 40px;
  }
  .ourJourneySubContainer table tr td:nth-child(2) img {
    width: 90%;
  }
  .ourVisionContainer {
    padding: 50px 0;
  }
  .ourJourneyContainer {
    padding-bottom: 50px;
  }
  .ourVisionContainer .content1 {
    font-size: 15px;
  }
  .circleContainer {
    width: 90px;
    height: 90px;
  }
  .coreValuesContainer .dataInfo {
    gap: 20px;
    grid-template-columns: max-content 1fr;
  }
  .coreValuesContainer .dataInfo img {
    width: 35px;
    height: 35px;
  }
  .coreValuesContainer .dataInfo .circle1 {
    width: 90px;
    height: 90px;
    border-width: 1.5px;
  }
  .coreValuesContainer .dataInfo .circle2 {
    width: 75px;
    height: 75px;
    border-width: 1.5px;
  }

  .coreValuesContainer .dataInfo .infoContent .content {
    margin: 0 15px;
    font-size: 15px;
    text-align: center;
  }
  .coreValuesContainer .dataInfo .infoContent {
    height: auto;
    padding: 15px 0;
  }
  .coreValuesSubWrapper {
    width: 90%;
    padding-right: 3%;
  }
  .clientsWrapper .title {
    margin-bottom: 30px;
  }
}
