/* ------home-banner----- */
.homeBannerContainer {
  width: 100%;
  height: 100vh;
  font-family: var(--sui-font-family-100);
  color: var(--sui-color-white);
  position: relative;
}
.HomebannerTitleContainer {
  position: absolute;
  top: 13%;
}
.HomebannerTitleContainer .title1 {
  font-size: 70px;
  margin-left: 50px;
  font-weight: 300;
  font-family: var(--sui-font-family-100);
}
.HomebannerTitleContainer .title2 {
  margin-top: 45px;
  margin-left: 50px;
  font-size: 25px;
  color: var(--sui-color-white-200);
  font-weight: 200;
  font-family: var(--sui-font-family-100);
}

/* ------who-we-are------ */
.whoWeAreContainer {
  display: flex;
  justify-content: center;
  background-color: var(--sui-color-black);
}
.whoWeAreSubContainer {
  width: 80%;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20%;
  padding: 50px 0;
}
.title {
  width: 30%;
  width: max-content;
  display: flex;
  justify-content: flex-end;
  color: var(--sui-color-white);
  font-size: 50px;
}
.whoWeAreSubContainer .contentContainer {
  font-size: 22px;
  font-weight: 200;
  color: var(--sui-color-white);
  font-family: var(--sui-font-family-100);
}
.whoWeAreSubContainer .content1 {
  border-bottom: 1px solid var(--sui-color-white);
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-family: var(--sui-font-family-100);
}
.whoWeAreSubContainer .content2 {
  border-bottom: 1px solid var(--sui-color-white);
  padding-bottom: 20px;
  line-height: 42px;
  font-family: var(--sui-font-family-100);
}

/* ------our journey------ */
.ourJourneyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(http://localhost:3000/static/media/backgroundImage1.f973a856fa736218c59b.jpeg);
  background-size: cover;
  background-position: center;
  padding-bottom: 90px;
}

.ourJourneySubContainer {
  width: 85%;
  margin-top: 111px;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10%;
}

.ourJourneySubContainer table {
  border-collapse: collapse;
}
.ourJourneySubContainer table tr td {
  padding-bottom: 50px;
  line-height: 33px;
  font-size: 25px;
}
.ourJourneySubContainer table tr td:nth-child(1) {
  border-right: 1px solid var(--sui-color-white-200);
  position: relative;
  line-height: 35px;
  min-width: 118px;
  color: var(--sui-color-white);
}
.ourJourneySubContainer table tr td:nth-child(1)::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--sui-color-white-200);
  position: absolute;
  top: 0px;
  right: -18px;
  display: block;
}
.ourJourneySubContainer table tr td:nth-child(1) .yearText {
  position: absolute;
  top: 0px;
}
.ourJourneySubContainer table tr td:nth-child(2) {
  display: grid;
  padding-left: 60px;
  line-height: 40px;
  font-weight: 200;
  font-size: 22px;
  color: var(--sui-color-white-100);
  font-family: var(--sui-font-family-100);
}
.ourJourneySubContainer table tr td:nth-child(2) img {
  border-radius: 10px;
  width: 350px;
  margin-top: 20px;
}
.ourJourneySubContainer table tr:last-child td:nth-child(2) {
  padding-bottom: 0;
}

/* ------our vision------ */
.ourVisionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
  background: var(--sui-color-gray-100);
}
.ourVisionSubContainer {
  width: 70%;
  display: grid;
}
.ourVisionSubContainer .title {
  margin-bottom: 20px;
}

.ourVisionContainer .content1 {
  color: var(--sui-color-white-300);
  font-family: var(--sui-font-family-100);
  font-size: 25px;
  line-height: 50px;
  font-weight: 300;
}

/* ------core values------ */
.coreValuesWrapper {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.coreValuesSubWrapper {
  width: 90%;
  display: grid;
  place-items: center;
}
.coreValuesContainer {
  width: 80%;
  display: grid;
  place-items: center;
  gap: 15px;
}
.coreValuesSubWrapper .title {
  margin-bottom: 50px;
}
.coreValuesContainer .dataInfo {
  display: grid;
  grid-template-columns: max-content minmax(22rem, 35rem);
  align-items: center;
  gap: 40px;
}
.coreValuesContainer .dataInfo img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.circleContainer {
  width: 150px;
  height: 150px;
  position: relative;
}
.coreValuesContainer .dataInfo .circle1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--sui-color-blue-100);
  animation: cicle 5s infinite linear;
  display: grid;
  place-items: center;
}
.coreValuesContainer .dataInfo .circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid;
  border-color: transparent;
  border-left-color: var(--sui-color-blue-100);
  border-right-color: var(--sui-color-blue-100);
  animation: cicle 5s infinite linear;
}
@keyframes cicle {
  to {
    transform: rotate(1turn);
  }
}
.coreValuesContainer .dataInfo .infoContent {
  height: 80px;
  background-color: var(--sui-color-blue-100);
  color: var(--sui-color-white-200);
  display: grid;
  place-items: center;
  transform: skew(-20deg);
  border-radius: 5px;
}

.coreValuesContainer .dataInfo .infoContent .content {
  transform: skew(20deg);
  font-size: 19px;
}

/* ------clients------ */
.clientsWrapper {
  display: grid;
  place-items: center;
}
.clientsContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.clientsWrapper .title {
  margin-bottom: 50px;
}
.clientsContainer .cardInfoContainer {
  width: 200px;
  height: 245px;
  background-color: var(--sui-color-white);
  border-radius: 7px;
  padding: 10px;
  display: grid;
  grid-template-rows: max-content;
}
.clientsContainer .cardInfoContainer img {
  width: 100%;
}
.clientsContainer .cardInfoContainer .textInfo {
  text-align: center;
  margin-top: 14px;
  font-size: 17px;
  margin-top: 15px;
  line-height: 25px;
  display: grid;
  align-items: center;
  color: var(--sui-color-blue-100);
}
