.slider {
  height: 500px;
}
.profileWrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: #000000;
  background: linear-gradient(132deg, #000000 0%, #0f1c28 100%);
}
.profileSubWrapper {
  width: 80%;
}
.title {
  color: var(--sui-color-white-100);
  font-size: 35px;
  font-family: var(--sui-font-family-c300);
  font-weight: 600;
  letter-spacing: 2px;
}
.contentContainer {
  display: grid;
  gap: 20px;
  margin-top: 40px;
}
.content {
  font-family: var(--sui-font-family-s600);
  font-weight: 200;
  line-height: var(--sui-line-height);
  letter-spacing: var(--sui-letter-spacing);
  color: var(--sui-color-white-300);
  font-size: 20px;
}

/* ----------------media quries----------------
  --------------------------------------------- */
@media (max-width: 768px) {
  .profileWrapper {
    padding: 40px 0;
  }
  .contentContainer {
    margin-top: 20px;
  }
  .profileSubWrapper {
    width: 90%;
  }
  .content {
    font-weight: 200;
    line-height: 30px;
    letter-spacing: var(--sui-letter-spacing);
    color: var(--sui-color-white-300);
    font-size: 15px;
  }
}
@media (max-width: 425px){
  .title{
    font-size: 30px;
  }
}
