.formValidation-Wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.formValidation-multigroup {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 300px));
  column-gap: 25px;
  justify-content: center;
}

.formValidation-Wrapper .ant-form-item input {
  height: 45px;
  border-radius: 3px;
  background-color: var(--sui-color-gray-400) !important;
  color: var(--sui-color-white-300);
  border-color: var(--sui-color-white-500) !important;
}
.formValidation-Wrapper .ant-form-item input::placeholder,
.formValidation-Wrapper .ant-form-item textarea::placeholder {
  color: var(--sui-color-white-500);
}
.formValidation-Wrapper .ant-form-item textarea {
  height: 75px;
  border-radius: 3px;
  background-color: var(--sui-color-gray-400) !important;
  color: var(--sui-color-white-300);
  border-color: var(--sui-color-white-500) !important;
}
.formValidation-Wrapper .ant-input:hover {
  border-color: var(--sui-color-blue-200) !important;
  transition: all 0.5s;
}
.formValidation-Wrapper .ant-input:focus {
  border-color: var(--sui-color-blue-200) !important;
}
.formValidation-Wrapper .ant-form-item button {
  background: var(--sui-gradient-color);
  background-size: 200% 100%;
  background-position: right center;
  border-radius: 25px;
  width: 150px;
  height: 45px;
  font-size: 20px;
}
.formValidation-Wrapper .ant-form-item button:hover {
  transition: all 0.5s;
  background: var(--sui-gradient-color-100);
  background-size: 200% 100%;
  background-position: right center;
}

/* ----------------media quries----------------
  --------------------------------------------- */

@media (max-width: 600px) {
  .formValidation-multigroup {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 300px));
    column-gap: 25px;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .formValidation-multigroup {
    grid-template-columns: 1fr;
    column-gap: 25px;
  }
  .formValidation-Wrapper {
    grid-template-columns: 1fr;
  }
  .formValidation-Wrapper .ant-form-item button {
    width: 130px;
    height: 40px;
    font-size: 17px;
  }
}
