.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s;
  background: var(--sui-color-black-500);
  padding-bottom: 15px;
}
.mailEnquiryWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--sui-color-black-200);
  padding: 50px 0 30px 0;
  border-top: 1.5px solid var(--sui-color-blue-200);
}
.mailEnquiryContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-family: var(--sui-font-family-s600);
}
.mailEnquiryContainer .leftInfo .textInfo1 {
  font-size: 48px;
  color: var(--sui-color-white-100);
  font-weight: 400;
  margin-bottom: 40px;
}
.mailEnquiryContainer .leftInfo .textInfo2 {
  font-size: 20px;
  color: var(--sui-color-white-200);
  font-weight: 300;
  letter-spacing: 1px;
}
.mailEnquiryContainer .rightInfo {
  display: grid;
}
.mailEnquiryContainer .rightInfo .textInfo {
  font-size: 25px;
  color: var(--sui-color-white-400);
  margin-bottom: 20px;
  font-weight: 500;
}

.mailEnquiryContainer form :global(.ant-input) {
  background-color: transparent !important;
  border: none !important;
  height: 50px;
  border-bottom: 1px solid var(--sui-color-white-400) !important;
  border-radius: 0 !important;
  color: var(--sui-color-white-500) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 18px !important;
}
.mailEnquiryContainer form input::placeholder {
  color: var(--sui-color-gray-300);
}
.mailEnquiryContainer form input {
  box-shadow: none !important;
}
.mailEnquiryContainer form button {
  font-size: 27px;
  padding: 0 !important;
  font-weight: 600;
  color: var(--sui-color-white-500) !important;
}
.mailEnquiryContainer form button:hover {
  color: white !important;
}
.footerContainer {
  width: 70%;
  padding: 50px 0 0px 0;
}
.topInfo {
  display: flex;
  justify-content: space-between;
}
.logoContainerInfo {
  font-family: var(--sui-font-family-s600);
  letter-spacing: var(--sui-letter-spacing);
  font-weight: 600;
}
.logoContainerInfo .logo {
  width: 100px;
}
.logoContainerInfo .companyName {
  color: var(--sui-color-white-400);
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 9px;
}
.logoContainerInfo .slogan {
  color: var(--sui-color-white-500);
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 400;
}

.rightInfo {
  display: flex;
  gap: 20px;
}
.mediaIconContainer {
  display: flex;
  gap: 15px;
}
.mediaIconContainer a {
  /* width: 37px;
  height: 37px; */
  padding: 10px;
  color: #112852;
  color: var(--sui-color-white-200);
  /* background-color: white; */
  border: 2px solid var(--sui-color-blue-200);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.mediaIconContainer a svg {
  font-size: 20px;
}
.menuLinksContainer {
  margin-top: 30px;
  font-family: var(--sui-font-family-s600);
  letter-spacing: var(--sui-letter-spacing);
}
.menuLinksContainer .title {
  color: white;
  font-size: 16px;
  margin-bottom: 29px;
  font-family: var(--sui-font-family-s200);
  font-weight: 900;
  letter-spacing: var(--sui-letter-spacing);
}
.menuLinksContainer .linkInfo {
  color: var(--sui-color-white-500);
  margin-bottom: 14px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-family: var(--sui-font-family-s600);
  letter-spacing: var(--sui-letter-spacing);
  font-weight: 300;
  max-width: 208px;
  scale: 1;
}
.menuLinksContainer .linkInfo:hover {
  color: var(--sui-color-blue-200);
  scale: 1.1;
  transition: scale 0.5s !important;
}
.copyRightsContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--sui-color-gray-200);
  margin-top: 30px;
  margin-bottom: 35px;
  padding-top: 21px;
  font-family: var(--sui-font-family-s600);
  letter-spacing: var(--sui-letter-spacing);
  font-weight: 300;
}
.copyRightsContainer .leftInfo {
  color: var(--sui-color-white-500);
  font-size: 14px;
}
.copyRightsContainer .rightInfo {
  color: var(--sui-color-white-500);
  display: block;
  font-size: 14px;
}
.copyRightsContainer .rightInfo a {
  text-decoration: none;
  color: var(--sui-color-white-500);
  font-size: 12px;
  font-weight: 200;
  transition: all 0.5s;
}
.copyRightsContainer .rightInfo a:hover {
  color: var(--sui-color-blue-200);
  scale: 1.1;
}

/* ----------------media quries----------------
  --------------------------------------------- */
@media (max-width: 1340px) {
  .mailEnquiryContainer {
    width: 90%;
  }
  .footerContainer {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .topInfo {
    flex-direction: column;
  }
  .mailEnquiryContainer {
    flex-direction: column;
  }
  .mailEnquiryContainer .rightInfo {
    display: grid;
    width: max-content;
    gap: 0px;
  }
  .mailEnquiryContainer .rightInfo .textInfo {
    font-size: 22px;
    margin-bottom: 0;
  }
  .mailEnquiryContainer .leftInfo .textInfo1 {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .mailEnquiryContainer .leftInfo .textInfo2 {
    font-size: 16px;
  }
  .mailEnquiryContainer .leftInfo {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .mailEnquiryContainer form :global(.ant-input) {
    font-size: 14px !important;
  }
  .logoContainerInfo .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .logoContainerInfo .companyName {
    font-size: 16px;
  }
  .copyRightsContainer {
    flex-direction: column;
  }
  .copyRightsContainer .rightInfo,
  .copyRightsContainer .leftInfo {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
  .copyRightsContainer .rightInfo {
    margin-top: 10px;
    display: grid;
    align-items: center;
    gap: 5px;
  }
  .copyRightsContainer .rightInfo span {
    font-size: 11px;
    color: var(--sui-color-white-600);
  }
  .copyRightsContainer .rightInfo a {
    font-size: 12px;
  }
  .logoContainerInfo {
    font-family: var(--sui-font-family-s600);
    letter-spacing: var(--sui-letter-spacing);
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menuLinksContainer {
    display: grid;
    justify-content: center;
  }
  .menuLinksContainer .title {
    text-align: center;
    margin-bottom: 17px;
  }
  .menuLinksContainer .linkInfo {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .copyRightsContainer {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .mailEnquiryContainer .rightInfo .textInfo {
    font-size: 17px;
  }
  .mailEnquiryContainer .leftInfo .textInfo1 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .mailEnquiryContainer .leftInfo .textInfo2 {
    font-size: 14px;
  }
}
