.formValidation :global(.ant-form-item input) {
  height: 45px;
  border-radius: 3px;
  width: 100%;
}
.formValidation :global(.ant-form-item textarea) {
  height: 65px;
  border-radius: 3px;
}
.formValidation .ant-form-item input {
  height: 45px;
  border-radius: 3px;
  background-color: var(--sui-color-gray-400) !important;
  color: var(--sui-color-white-300);
  border-color: var(--sui-color-white-500) !important;
}
.formValidation .ant-form-item input::placeholder,
.formValidation .ant-form-item textarea::placeholder {
  color: var(--sui-color-white-500);
}
.formValidation .ant-form-item textarea {
  height: 75px;
  border-radius: 3px;
  background-color: var(--sui-color-gray-400) !important;
  color: var(--sui-color-white-300);
  border-color: var(--sui-color-white-500) !important;
}
.formValidation .ant-input:hover {
  border-color: var(--sui-color-blue-200) !important;
  transition: all 0.5s;
}
.formValidation .ant-input:focus {
  border-color: var(--sui-color-blue-200) !important;
}
.formValidation .ant-form-item button {
  background: var(--sui-gradient-color);
  background-size: 200% 100%;
  background-position: right center;
  width: 150px;
  height: 45px;
  transition: all 0.5s;
  border-radius: 25px;
  font-size: 19px;
}
.formValidation .ant-btn-primary:hover {
  transition: all 0.5s;
  background: var(--sui-gradient-color-100);
  background-size: 200% 100%;
  background-position: right center;
}

.formValidation .ant-form-item .ant-form-item-explain-error {
  font-size: 12px;
}

/* ----------------media quries----------------
  --------------------------------------------- */
@media (max-width: 425px) {
  .formValidation .ant-form-item button {
    width: 130px;
    height: 40px;
    font-size: 17px;
  }
}
