@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* override the default value */

body {
  margin: 0;
}
a {
  text-decoration: none !important;
  color: unset;
}

/* css variable */

html {
  --sui-font-family-100: "Exo 2", sans-serif;

  --sui-color-white: white;
  --sui-color-white-100: #e4e4e4;
  --sui-color-white-200: #d7d7d7;
  --sui-color-white-300: #a4a4a4;

  --sui-color-black: black;
  --sui-color-black-100: #0e0e0e;
  --sui-color-black-200: #181819;

  --sui-color-gray: gray;
  --sui-color-gray-100: #151515;

  --sui-color-blue: blue;
  --sui-color-blue-100: #133c5c;
  --sui-color-blue-200: #206883;

  --sui-color-red: red;
  --sui-color-red-100: #b41c01;

  --sui-gradient-color: linear-gradient(
    to right,
    rgb(3 76 94) 0%,
    rgba(81, 40, 116, 1) 50%,
    rgba(81, 40, 116, 1) 50%,
    rgb(0 139 173) 100%
  );
  --sui-gradient-color-100: linear-gradient(
    to right,
    rgb(3 76 94) 0%,
    rgba(81, 40, 116, 1) 50%,
    rgb(66 33 94) 50%,
    rgb(0 103 128) 100%
  );
  --sui-gradient-color-200: linear-gradient(194deg, #082e4b, #000);
}
